// Navigation Styles here

.home header {
  display: flex;
  //   .test();
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  padding-bottom: 40px;
  border-bottom: 2px dashed gray;

  a {
    text-decoration: none;
    color: @font-color;
    font-size: 1.5rem;
    margin: 0 3rem;
  }
}
